
-- 1. 公司信息表（支持多市场）
CREATE TABLE IF NOT EXISTS companies (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    ts_code VARCHAR(20) NOT NULL COMMENT 'TS代码',
    symbol VARCHAR(20) NOT NULL COMMENT '股票代码',
    name VARCHAR(100) COMMENT '中文名称',
    name_en VARCHAR(100) COMMENT '英文名称',
    market VARCHAR(10) NOT NULL COMMENT '市场代码(CN/HK/US/IN/CH/JP)',
    exchange VARCHAR(20) COMMENT '交易所',
    industry VARCHAR(50) COMMENT '行业',
    industry_en VARCHAR(50) COMMENT '行业英文',
    area VARCHAR(50) COMMENT '地区',
    list_date DATE COMMENT '上市日期',
    currency VARCHAR(10) COMMENT '货币',
    is_active BOOLEAN DEFAULT TRUE COMMENT '是否活跃',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    UNIQUE KEY uk_market_symbol (market, symbol),
    INDEX idx_industry (industry),
    INDEX idx_market (market)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='公司信息表';


-- 2. 财务报表核心表
CREATE TABLE IF NOT EXISTS financial_reports (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    company_id INT NOT NULL COMMENT '公司ID',
    ts_code VARCHAR(20) NOT NULL COMMENT 'TS代码(TS Code)',    symbol VARCHAR(20) NOT NULL COMMENT '股票代码(Stock Symbol)',    ann_date DATE NOT NULL COMMENT '公告日期(Announcement Date)',    f_ann_date DATE NULL COMMENT '实际公告日期(Actual Announcement Date)',    end_date DATE NOT NULL COMMENT '报告期(Report Period)',    report_type VARCHAR(20) NOT NULL COMMENT '报告类型(Report Type)',    total_assets DECIMAL(20,2) NOT NULL COMMENT '总资产(Total Assets)',    total_liab DECIMAL(20,2) NOT NULL COMMENT '总负债(Total Liabilities)',    total_hldr_eqy_exc_min_int DECIMAL(20,2) NOT NULL COMMENT '归母权益(Parent Company's Equity)',    total_cur_assets DECIMAL(20,2) NOT NULL COMMENT '流动资产(Current Assets)',    total_nca DECIMAL(20,2) NOT NULL COMMENT '非流动资产(Non-Current Assets)',    total_cur_liab DECIMAL(20,2) NOT NULL COMMENT '流动负债(Current Liabilities)',    total_ncl DECIMAL(20,2) NOT NULL COMMENT '非流动负债(Non-Current Liabilities)',    money_cap DECIMAL(20,2) NOT NULL COMMENT '货币资金(Cash and Cash Equivalents)',    trad_asset DECIMAL(20,2) NULL COMMENT '交易性金融资产(Trading Financial Assets)',    notes_receiv DECIMAL(20,2) NULL COMMENT '应收票据(Notes Receivable)',    accounts_receiv DECIMAL(20,2) NOT NULL COMMENT '应收账款(Accounts Receivable)',    inventories DECIMAL(20,2) NOT NULL COMMENT '存货(Inventories)',    fix_assets DECIMAL(20,2) NOT NULL COMMENT '固定资产(Fixed Assets)',    cip DECIMAL(20,2) NULL COMMENT '在建工程(Construction in Progress)',    intan_assets DECIMAL(20,2) NULL COMMENT '无形资产(Intangible Assets)',    r_and_d DECIMAL(20,2) NULL COMMENT '研发支出(R&D Expenditure)',    goodwill DECIMAL(20,2) NULL COMMENT '商誉(Goodwill)',    notes_payable DECIMAL(20,2) NULL COMMENT '应付票据(Notes Payable)',    acct_payable DECIMAL(20,2) NOT NULL COMMENT '应付账款(Accounts Payable)',    adv_receipts DECIMAL(20,2) NULL COMMENT '预收款项(Advances from Customers)',    total_revenue DECIMAL(20,2) NOT NULL COMMENT '营业总收入(Total Revenue)',    revenue DECIMAL(20,2) NOT NULL COMMENT '营业收入(Operating Revenue)',    total_cogs DECIMAL(20,2) NOT NULL COMMENT '营业总成本(Total Operating Costs)',    oper_cost DECIMAL(20,2) NOT NULL COMMENT '营业成本(Operating Costs)',    operate_profit DECIMAL(20,2) NOT NULL COMMENT '营业利润(Operating Profit)',    income_tax DECIMAL(20,2) NULL COMMENT '所得税(Income Tax)',    n_income DECIMAL(20,2) NOT NULL COMMENT '净利润(Net Income)',    n_income_attr_p DECIMAL(20,2) NOT NULL COMMENT '归母净利润(Parent Company's Net Income)',    sell_exp DECIMAL(20,2) NOT NULL COMMENT '销售费用(Selling Expenses)',    admin_exp DECIMAL(20,2) NOT NULL COMMENT '管理费用(Administrative Expenses)',    fin_exp DECIMAL(20,2) NOT NULL COMMENT '财务费用(Financial Expenses)',    rd_exp DECIMAL(20,2) NOT NULL COMMENT '研发费用(R&D Expenses)',    int_income DECIMAL(20,2) NULL COMMENT '利息收入(Interest Income)',    comm_income DECIMAL(20,2) NULL COMMENT '手续费收入(Commission Income)',    n_cashflow_act DECIMAL(20,2) NOT NULL COMMENT '经营现金流净额(Net Cash Flow from Operating Activities)',    n_cashflow_inv_act DECIMAL(20,2) NOT NULL COMMENT '投资现金流净额(Net Cash Flow from Investing Activities)',    n_cash_flows_fnc_act DECIMAL(20,2) NOT NULL COMMENT '筹资现金流净额(Net Cash Flow from Financing Activities)',    im_net_cashflow_oper_act DECIMAL(20,2) NULL COMMENT '间接法经营现金流(Indirect Method Operating Cash Flow)',    eps DECIMAL(10,4) NOT NULL COMMENT '基本每股收益(Basic EPS)',    dt_eps DECIMAL(10,4) NULL COMMENT '稀释每股收益(Diluted EPS)',    total_revenue_ps DECIMAL(10,4) NULL COMMENT '每股营业总收入(Total Revenue Per Share)',    revenue_ps DECIMAL(10,4) NULL COMMENT '每股营业收入(Revenue Per Share)',    ocfps DECIMAL(10,4) NOT NULL COMMENT '每股经营现金流(Operating Cash Flow Per Share)',    grossprofit_margin DECIMAL(8,4) NOT NULL COMMENT '销售毛利率(Gross Profit Margin)',    netprofit_margin DECIMAL(8,4) NOT NULL COMMENT '销售净利率(Net Profit Margin)',    roe DECIMAL(8,4) NOT NULL COMMENT '净资产收益率(Return on Equity (ROE))',    roa DECIMAL(8,4) NOT NULL COMMENT '总资产报酬率(Return on Assets (ROA))',    debt_to_assets DECIMAL(8,4) NOT NULL COMMENT '资产负债率(Debt to Assets Ratio)',    debt_to_eqt DECIMAL(8,4) NULL COMMENT '产权比率(Debt to Equity Ratio)',    current_ratio DECIMAL(8,4) NOT NULL COMMENT '流动比率(Current Ratio)',    quick_ratio DECIMAL(8,4) NOT NULL COMMENT '速动比率(Quick Ratio)',    turn_days DECIMAL(8,2) NULL COMMENT '营业周期(Operating Cycle)',    inv_turn DECIMAL(8,4) NOT NULL COMMENT '存货周转率(Inventory Turnover)',    ar_turn DECIMAL(8,4) NOT NULL COMMENT '应收账款周转率(Accounts Receivable Turnover)',    ca_turn DECIMAL(8,4) NULL COMMENT '流动资产周转率(Current Assets Turnover)',    fa_turn DECIMAL(8,4) NULL COMMENT '固定资产周转率(Fixed Assets Turnover)',    q_sales_yoy DECIMAL(8,4) NOT NULL COMMENT '营收同比增长(Revenue YoY Growth)',    q_op_yoy DECIMAL(8,4) NOT NULL COMMENT '营业利润同比增长(Operating Profit YoY Growth)',    q_profit_yoy DECIMAL(8,4) NOT NULL COMMENT '净利润同比增长(Net Profit YoY Growth)',
    extended_data JSON NULL COMMENT '扩展指标数据(JSON格式)',
    source VARCHAR(20) DEFAULT 'import' COMMENT '数据来源(import/excel/ai_extract)',
    data_quality_score DECIMAL(3,2) DEFAULT 1.00 COMMENT '数据质量评分(0-1)',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    FOREIGN KEY (company_id) REFERENCES companies(id) ON DELETE CASCADE,
    UNIQUE KEY uk_company_report (company_id, end_date, report_type),
    INDEX idx_report_date (end_date),
    INDEX idx_report_type (report_type)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='财务报表核心表';


-- 3. 市场字段映射表
CREATE TABLE IF NOT EXISTS market_field_mapping (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    market VARCHAR(10) NOT NULL COMMENT '市场代码',
    local_field_name VARCHAR(100) NOT NULL COMMENT '本地字段名',
    local_field_name_en VARCHAR(100) COMMENT '本地字段英文名',
    standard_field_name VARCHAR(100) NOT NULL COMMENT '标准字段名',
    field_category VARCHAR(50) COMMENT '字段类别',
    data_type VARCHAR(20) COMMENT '数据类型',
    description TEXT COMMENT '字段说明',
    description_en TEXT COMMENT '字段英文说明',
    is_required BOOLEAN DEFAULT FALSE COMMENT '是否必填',
    mapping_rule TEXT COMMENT '映射规则',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    UNIQUE KEY uk_market_field (market, local_field_name),
    INDEX idx_standard_field (standard_field_name)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='市场字段映射表';


-- 4. 数据源配置表
CREATE TABLE IF NOT EXISTS data_sources (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    source_name VARCHAR(50) NOT NULL COMMENT '数据源名称',
    source_type VARCHAR(20) NOT NULL COMMENT '类型(mysql/excel/api)',
    host VARCHAR(100) COMMENT '主机(MySQL)',
    port INT COMMENT '端口(MySQL)',
    database_name VARCHAR(100) COMMENT '数据库名(MySQL)',
    username VARCHAR(100) COMMENT '用户名(MySQL)',
    password VARCHAR(100) COMMENT '密码(MySQL,加密存储)',
    file_path VARCHAR(500) COMMENT '文件路径(Excel)',
    table_mapping JSON COMMENT '表映射配置',
    field_mapping JSON COMMENT '字段映射配置',
    sync_schedule VARCHAR(20) COMMENT '同步频率(weekly/monthly/manual)',
    is_active BOOLEAN DEFAULT TRUE COMMENT '是否启用',
    last_sync_at TIMESTAMP NULL COMMENT '上次同步时间',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    INDEX idx_source_type (source_type),
    INDEX idx_is_active (is_active)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='数据源配置表';


-- 5. 数据导入日志表
CREATE TABLE IF NOT EXISTS import_logs (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    source_id INT NOT NULL COMMENT '数据源ID',
    import_type VARCHAR(20) COMMENT '导入类型(full/incremental)',
    start_time TIMESTAMP COMMENT '开始时间',
    end_time TIMESTAMP NULL COMMENT '结束时间',
    records_count INT DEFAULT 0 COMMENT '总记录数',
    success_count INT DEFAULT 0 COMMENT '成功数',
    failed_count INT DEFAULT 0 COMMENT '失败数',
    status VARCHAR(20) COMMENT '状态(running/success/failed)',
    error_message TEXT COMMENT '错误信息',
    details JSON COMMENT '详细日志',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    FOREIGN KEY (source_id) REFERENCES data_sources(id) ON DELETE CASCADE,
    INDEX idx_status (status),
    INDEX idx_created_at (created_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='数据导入日志表';


-- 6. AI提取文档记录表
CREATE TABLE IF NOT EXISTS ai_extraction_logs (
    id INT AUTO_INCREMENT PRIMARY KEY COMMENT '主键ID',
    company_id INT COMMENT '公司ID',
    document_name VARCHAR(255) COMMENT '文档名称',
    document_path VARCHAR(500) COMMENT '文档路径',
    document_type VARCHAR(50) COMMENT '文档类型(pdf/word/excel)',
    language VARCHAR(10) COMMENT '文档语言(zh/en)',
    extraction_status VARCHAR(20) COMMENT '提取状态',
    extracted_data JSON COMMENT '提取的数据',
    confidence_score DECIMAL(3,2) COMMENT '置信度',
    processing_time INT COMMENT '处理时间(秒)',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    FOREIGN KEY (company_id) REFERENCES companies(id) ON DELETE SET NULL,
    INDEX idx_extraction_status (extraction_status),
    INDEX idx_created_at (created_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='AI提取文档记录表';



================================================================================
A股字段映射配置
================================================================================
共 62 个字段映射

ts_code -> ts_code
  中文: TS代码
  英文: TS Code

ann_date -> ann_date
  中文: 公告日期
  英文: Announcement Date

f_ann_date -> f_ann_date
  中文: 实际公告日期
  英文: Actual Announcement Date

end_date -> end_date
  中文: 报告期
  英文: Report Period

total_assets -> total_assets
  中文: 总资产
  英文: Total Assets
